.large-div {
    background-color: gray;
    height: 300px;
    width: 300px;
    position: relative;
}
.small-div {
    background-color: black;
    height: 50px;
    width: 50px;
    position: absolute;
}
.tooltip {
    position: absolute;
    z-index: 1000;
}